
   <div class="user-card">
    <div class="user-details">
      <h3 class="user-name">{{ user.userName }}</h3>
      <div class="user-info">
        <div class="info-row">
          <span class="label">Email:</span>
          <span class="value">{{ user.email }}</span>
        </div>
        <div class="info-row">
          <span class="label">Points:</span>
          <span class="value">{{ user.points }}</span>
        </div>
        <div class="info-row">
          <span class="label">Role:</span>
          <span class="value">{{ user.roleId==2? `Admin`:`User` }}</span>
        </div>
      </div>
    </div>
    <button class="delete-button" 
            (click)="onDelete()" 
            [disabled]="user.roleId == 2"
            [ngClass]="{'disabled-button': user.roleId == 2}">Delete</button>
  </div>